

<h1 class="dash"> Dashboord</h1>
<p class="des" (click)="navigateToprod()" style="cursor: pointer;">Products List</p>

<div class="parent">
    <div class="child1">Create Categorie<br>
       
       
        <form [formGroup]="createCategorieForm" (ngSubmit)="onFormSubmit()"> 
        <label for="title" class="form-label cta">   Categorie Name </label>
     
            <input  placeholder=" name" type="title" id="form2Example2" class="form-control inp"  formControlName="name" />
            @if (createCategorieForm.get('name')?.invalid && createCategorieForm.get('name')?.touched) {
              <div class="requiredname">Name is required</div>
            }
            @if (showNameRequiredError) {
              <div class="requiredname text-danger">Name is required</div>
            }
        
            <button data-mdb-ripple-init type="button" class="btn btn-primary btn-block mb-4 btnadd" type="submit">ADD </button>
            <!-- <div *ngIf="createCategorieForm.get('name')?.invalid && createCategorieForm.get('name')?.touched" 
            class="text-danger">
         Category name is required!
       </div> -->
        </form>
        @if (showSuccessMessage) {
          <div class="alertcatajouted">
            {{ successMessage }}
          </div>
        }
    </div>
    <div class="child2">Categories <br>
        <table class="tableCat">
            <thead>
              <tr>
          
                <th>Name</th>
                <th> Update</th>
                <th> Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let cat of catgeoriges">
                <!-- <td>{{cat.id}}</td> -->
                <td class="partpx" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 200px;">
                  {{cat.name}}
                </td>              
                 <td class="partpx">  <button class="updatebutton" (click)="openDialog(cat.id??'')">Update</button></td>
             
                <td class="partpx" >
                    <button *ngIf="cat.id" (click)="onDeleteCategorie(cat.id)">Delete </button>
                  </td>
                
                  
              </tr>
            

            
            </tbody>
           
          </table>
        

         
    
    </div>
</div>
