

<h1 class="dash"> Dashboord</h1>
<div class="parent">
    <div class="child1">Create Categorie<br>
       
        <br>
        <form [formGroup]="createCategorieForm" (ngSubmit)="onFormSubmit()"> 
        <label for="title" class="form-label cta">  Enter Categorie Name </label>
     
            <input  placeholder="Categorie name" type="title" id="form2Example2" class="form-control inp"  formControlName="name" />
        
            <button data-mdb-ripple-init type="button" class="btn btn-primary btn-block mb-4 btnadd" type="submit">ADD </button>

        </form>
    </div>
    <div class="child2">Categories <br>
        <table class="tableCat">
            <thead>
              <tr>
          
                <th>Name</th>
                <th> Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let cat of catgeoriges">
                <!-- <td>{{cat.id}}</td> -->
                <td class="partpx">{{cat.name}}</td>
                
                <td class="partpx" >
                    <button *ngIf="cat.id" (click)="onDeleteCategorie(cat.id)">Delete </button>
                  </td>
              </tr>
            

            
            </tbody>
          </table>
    
    
    </div>
</div>
