<p>user-auth-interface works!</p>
<div class="child2">List of Produits <br>
    <table class="tableCat">
        <thead>
          <tr>
      
            <th>Name</th>
            <th>Prix</th>
            <th>Categorie </th> 
            <th> Update</th>
            <th> Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr  >
            <!-- <td>{{cat.id}}</td> -->
            <td class="partpx"></td>
            <td class="partpx">TND</td>
            <td class="partpx"></td>
            <td class="partpx">  <button class="updatebutton" >Update</button></td>

            <td class="partpx" >
                <button  class="deletebutton"  >Delete </button>
              </td>
          </tr>
        

        
        </tbody>
      </table>


</div>