.title{
    text-align: center;
    margin-top: 8%;
    }
    .popupconatiner{
        width: 350px;
        height: auto;
      background-color: antiquewhite;
    }
    .inp{
        width: 200px;
        margin-top: 10px;
        margin-bottom: 15px;
     
    }
    .center-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        /* full height of viewport */
      }
      .cta{
       position: relative;
       left: 40px;
      }
      .btnadd{
        width: 100px;
        height: 35px;
    
      }
      .close-btn {
        position: absolute;
        top: 1%;
        right: 1%;
        background: none;
        border: none;
        font-size: 24px;
        cursor: pointer;
        color: #ff0000;
      }
      
      .close-btn:hover {
        color: #333;
      }