
<h1 class="dash"> Dashboord</h1>
<p class="des" (click)="navigateToDash()" style="cursor: pointer;">Categories List</p>

<div class="parent">
 
  <div class="child2">Browse our {{categoryName}} Collection<br>
      <table class="tableCat">
          <thead>
            <tr>
        
              <th>Name</th>
              <th>Prix</th>
              <th>Description </th> 
              <th> Update</th>
              <th> Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let prod of filteredProducts">
              <!-- <td>{{cat.id}}</td> -->
              <td class="partpx">{{prod.name}}</td>
              <td class="partpx">{{prod.prix}} TND</td>
              <td class="partpx">{{prod.description ? prod.description : '-----------'}}</td>
              <td class="partpx">  <button class="updatebutton" (click)="openDialog(prod.id??'')">Update</button></td>

              <td class="partpx" >
                  <button *ngIf="prod.id" class="deletebutton"  (click)="onDeleteCategorie(prod.id)">Delete </button>
                </td>
            </tr>
          
  
          
          </tbody>
        </table>
  
  
  </div>
</div>