<!-- <h1>Login</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div>
      <input type="text" placeholder="Email" formControlName="email" />
    </div>
    <div>
      <input type="password" placeholder="Password" formControlName="password" />
    </div>
    <div>
      <button type="submit">Sign In</button>
    </div>
  </form> 
   -->
  
  
  <div class="d-flex justify-content-center align-items-center vh-100 ">
    <h1 class="log">Login</h1>
    <div class="logo-container">
      <img src="assets/images/logoo2.jpeg" alt="Logo" class="logo-image">
    </div>
    <form class="w-70 " [formGroup]="form" (ngSubmit)="onSubmit()">
      <!-- Email input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <input type="email" id="form2Example1" class="form-control" formControlName="email"/>
        <label class="form-label" for="form2Example1">Email address</label>
      </div>
  
      <!-- Password input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <input type="password" id="form2Example2" class="form-control"  formControlName="password" />
        <label class="form-label" for="form2Example2">Password</label>
      </div>
  
      <!-- 2 column grid layout for inline styling -->
      <div class="row mb-4">
        <div class="col d-flex justify-content-center">
          <!-- Checkbox -->
          
        </div>
  
        <div class="col text-end">
          <!-- Simple link -->
          <a href="#!">Forgot password?</a>
        </div>
      </div>
  
      <!-- Submit button -->
      <button data-mdb-ripple-init type="button" class="btn btn-primary btn-block w-100 mb-4" type="submit">Login</button>
  
      <!-- Register buttons -->
      <div class="text-center">
        <p>u are a Member ? <a class="goto" (click)="navigateToprod()">Login</a></p>
        
      </div>
    </form>
  </div>
  