
<h1 class="dash"> Dashboord</h1>
<p class="des" (click)="navigateTodash()" style="cursor: pointer;">Categories List</p>

<div class="parent">
  <div class="child1">Create Product<br>

  
    <form [formGroup]="createProduitForm" (ngSubmit)="onFormSubmit()"> 
    <label for="title" class="form-label cta">  Product Name </label>
  
        <input  placeholder=" name" type="title" id="form2Example2" class="form-control inp"  formControlName="name" />

        <label for="title" class="form-label cta">   product Prix </label>
        <input  placeholder="Categorie name" type="title" id="form2Example2" class="form-control inp"  formControlName="prix" />

        <label for="title" class="form-label cta">   Categorie_name </label>
        <select class="form-control inp" formControlName="categorie_name" >
          <option value="" disabled selected>Select a category</option>
          <option *ngFor="let opt of catgeoriges" [value]="opt.name" >{{opt.name}}</option>
       </select>
       <label for="title" class="form-label cta">   description</label>
       <input  placeholder="description" type="title" id="form2Example2" class="form-control inp"  formControlName="description" />
        <button data-mdb-ripple-init type="button" class="btn btn-primary btn-block mb-4 btnadd" type="submit">ADD </button>
  
    </form>
  </div>
  <div class="child2">List of Produits <br>
      <table class="tableCat">
          <thead>
            <tr>
        
              <th>Name</th>
              <th>Prix</th>
              <th>Categorie </th> 
              <th> Update</th>
              <th> Delete</th>
            </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let prod of products">
              <!-- <td>{{cat.id}}</td> -->
              <td class="partpx">{{prod.name}}</td>
              <td class="partpx">{{prod.prix}} TND</td>
              <td class="partpx">{{prod.categorie_name}}</td>
              <td class="partpx">  <button class="updatebutton" (click)="openDialog(prod.id??'')">Update</button></td>

              <td class="partpx" >
                  <button *ngIf="prod.id" class="deletebutton"  (click)="onDeleteCategorie(prod.id)">Delete </button>
                </td>
            </tr>
          
  
          
          </tbody>
        </table>
  
  
  </div>
</div>