<body class="background">

   



  
    <img src="assets/images/TITLEE2.svg" alt="SVG Image" class="imagef1">
    <!-- <img src="assets/images/icons8-facebook.svg" alt="Icon" alt="Clickable Image" (click)="navigateToFacebock()" class="face" width="66px"> -->

    <!-- <img src="assets/images/icons8-instagram.svg" alt="Icon" alt="Clickable Image" (click)="navigateToInsta()" class="insta" width="66px"> -->

    <h3 class="cafecat"> Petit Dej</h3>
    <div class="image">
      <img src="assets/images/Hat.svg"alt="SVG Image" class="hatphoto" />
    </div>

    
    <div class="container">
     
      
          <ul class="list2">
            <li class="item"><span class="dess"> KIDS  </span><span class="prix"> 10.000  Dt  </span></li>
               <li class="item2"> Grain d'or + Yaour + Pain cake + chocoline <br>
              + 1 OUEF + Eau 0.5L</li>
            <li class="item"><span class="dess"> Matinal </span><span class="prix"> 12.000  Dt  </span></li>
                  <li class="item2">Café + Jus + Croissant sale  ou paté <br>
                    + Yaourt  + Eau 0.5L
                  </li>
            <li class="item"><span class="dess"> Express </span><span class="prix"> 12.000  Dt  </span></li>
                <li class="item2">Café + Jus + Croissant ou Sandiwich sucré <br>
                  + Yaourt  + Eau 0.5L
                </li>
            <li class="item"><span class="dess">Healthy </span><span class="prix"> 8.000  Dt  </span></li>
                <li class="item2">Café + Jus + Pain de mie + Granola +Salade<br>
                  de fruits + Yaourt + Ricotta + Eau 0.5L
                </li>
            <li class="item"><span class="dess">Box </span><span class="prix"> 35.000  Dt  </span></li>
                <li class="item2"> 2 Café + 2 Jus + 2 Yaourt +Salade<br>
                  de fruits  + 2 cakes + Omelettes + Fromage + Jombaon + Harissa + Thon + Olives + 2 croissants salés + Eau 0.5L
                </li>
            <li class="item"><span class="dess"> Djerbi</span><span class="prix"> 37.800  Dt  </span></li>
                <li class="item2"> 2 Café + 2 Jus + 2 Yaourt + 2 cakes + beurre <br>
                  + Ricotta + degla + confiture + miel + chamia + <br>
                  Huile d'olive + chocolat + zrir + omelettes  <br>
                   +olive vert + tabouna + Eau 1L
                </li>
            <li class="item"><span class="dess"> LE Garage </span><span class="prix"> 42.000  Dt  </span></li>
              <li class="item2"> 2 Café + 2 Jus + 2 Croissants+ 2 Yaourt <br> + omelettes + Fromages
                + Charcuterie <br>
                + Harissa + Thon + Olives + Salade de fruits + <br>
                Gaufre + 2 mini Sandiwich + Eau 1L

               
              </li>
           
          </ul>
        
       
        <div class="image">
          <!-- <img src="assets/images/LOGOGA.svg" alt="SVG Image" class="cafeephoto" /> -->
        </div>
    </div>
    
    
    <h3 class="cafecatForbrunch"> Brunch</h3> 
    <div class="image">
      <!-- <img src="assets/images/Hat.svg"alt="SVG Image" class="hatphoto" /> -->
    </div>


    <div class="container">
    
    
          <ul class="list2">
            <li class="item"><span class="dess"> 2 Personnes </span><span class="prix"> 58.000  Dt  </span></li>
              <li class="item2  "> 2 cafés + 2 jus + 2 yaourts + 2 cakes + Eau 1L + 2 mini pancakes + <br>
                2 mini crepes + 2 croissants salé + 2 burgers + frites + tacos + ojja + <br>
                Charcuterie (fromage + sardaigne + sauscisse + jambon + cordon blue + <br>
                nuggets + escalope panné + sauces ) fruits de la saison
              

              
              </li>

              <li class="item"><span class="dess"> 3 Personnes </span><span class="prix"> 78.000  Dt  </span></li>
                <li class="item2  "> 3 cafés + 3 jus + 3 yaourts + 3 cakes + 3 Eau 0.5L + 3 mini pancakes + <br>
                  3 mini crepes + 3 croissants salé + 3 burgers + frites + tacos + 2 ojja + <br>
                  Charcuterie (fromage + sardaigne + sauscisse + jambon + cordon blue + <br>
                  nuggets + escalope panné + sauces ) fruits de la saison
                

                
                </li>
          </ul>
        
       
        <div class="image">
          <!-- <img src="assets/images/LOGOGA.svg" alt="SVG Image" class="cafeephoto" /> -->
        </div>
    </div>
    


    <h3 class="cafecat"> Les Paninis</h3>
    <div class="image">
      <img src="assets/images/Hat.svg"alt="SVG Image" class="hatphoto" />
    </div>


    <div class="container">
     
      
          <ul class="list2">
            <li class="item3"><span class="dess"> Panini Thon  </span><span class="prix"> 8.800  Dt  </span></li>

            <li class="item3"><span class="dess"> Panini Jambon </span><span class="prix"> 8.500  Dt  </span></li>
            <li class="item3"><span class="dess">Panini Poulet </span><span class="prix"> 9.000  Dt  </span></li>
           
          </ul>
        
       
        <div class="image">
          <!-- <img src="assets/images/LOGOGA.svg" alt="SVG Image" class="cafeephoto" /> -->
        </div>
    </div>

    <h3 class="cafecat"> Les Hamburgers</h3>
    <div class="image">
      <img src="assets/images/Hat.svg"alt="SVG Image" class="hatphoto" />
    </div>


    <div class="container">
     
      
          <ul class="list2">
            <li class="item3"><span class="dess"> Hamburger Escalope Hachée  </span><span class="prix"> 8.800  Dt  </span></li>

            <li class="item3"><span class="dess"> Hamburger Viande Hachée </span><span class="prix"> 8.500  Dt  </span></li>
            <li class="item3"><span class="dess">Hamburger BIG (double chesse) </span><span class="prix"> 9.000  Dt  </span></li>
           
          </ul>
        
       
        <div class="image">
          <!-- <img src="assets/images/LOGOGA.svg" alt="SVG Image" class="cafeephoto" /> -->
        </div>
    </div>

    
    <h3 class="cafecat"> Les Tacos</h3>
    <div class="image">
      <img src="assets/images/Hat.svg"alt="SVG Image" class="hatphoto" />
    </div>


    <div class="container">
     
      
          <ul class="list2">
            <li class="item3"><span class="dess"> Tacos Jambon </span><span class="prix"> 8.800  Dt  </span></li>

            <li class="item3"><span class="dess"> Tacos Thon </span><span class="prix"> 8.500  Dt  </span></li>
            <li class="item3"><span class="dess">Tacos Escalope</span><span class="prix"> 9.000  Dt  </span></li>
            <li class="item3"><span class="dess">Tacos Escalope pané</span><span class="prix"> 9.000  Dt  </span></li>
           
          </ul>
        
       
        <div class="image">
          <!-- <img src="assets/images/LOGOGA.svg" alt="SVG Image" class="cafeephoto" /> -->
        </div>
    </div>

    <h3 class="cafecat2"> Supplement</h3>
    <div class="image">
      <img src="assets/images/Hat.svg"alt="SVG Image" class="hatphoto" />
    </div>


    <div class="container2">
     
      
          <ul class="list2">
            <li class="item3"><span class="dess"> Frite </span><span class="prix"> 2.000  Dt  </span></li>

            
           
          </ul>
        
       
        <div class="image">
          <!-- <img src="assets/images/LOGOGA.svg" alt="SVG Image" class="cafeephoto" /> -->
        </div>
    </div>

    <h3 class="cafecat"> Les Gateaux</h3>
    <div class="image">
      <img src="assets/images/Hat.svg"alt="SVG Image" class="hatphoto" />
    </div>


    <div class="container">
     
      
          <ul class="list2">
            <li class="item3"><span class="dess"> Cake </span><span class="prix"> 2.000  Dt  </span></li>

            <li class="item3"><span class="dess"> Pate</span><span class="prix"> 2.500  Dt  </span></li>
            <li class="item3"><span class="dess">Tarte amande</span><span class="prix"> 4.500  Dt  </span></li>
            <li class="item3"><span class="dess">Crunch</span><span class="prix"> 7.500  Dt  </span></li>
            <li class="item3"><span class="dess">Chesse Cake</span><span class="prix"> 8.500  Dt  </span></li>
            <li class="item3"><span class="dess">San Sebastian</span><span class="prix"> 10.500  Dt  </span></li>
          </ul>
        
       
        <div class="image">
          <!-- <img src="assets/images/LOGOGA.svg" alt="SVG Image" class="cafeephoto" /> -->
        </div>
    </div>

    <h3 class="cafecat"> Les crépes - Gaufre - Bubbles salées</h3>
    <div class="image">
      <img src="assets/images/Hat.svg"alt="SVG Image" class="hatphoto" />
    </div>


    <div class="container">
     
      
          <ul class="list2">
            <li class="item3"><span class="dess"> Nature </span><span class="prix"> 6.000  Dt  </span></li>

            <li class="item3"><span class="dess"> Nuttela </span><span class="prix"> 10.000  Dt  </span></li>
            <li class="item3"><span class="dess">Thon+Fromage</span><span class="prix"> 11.000  Dt  </span></li>
            <li class="item3"><span class="dess">Jambon+Fromage</span><span class="prix"> 11.000  Dt  </span></li>
            <li class="item3"><span class="dess">Escalope+Fromage</span><span class="prix"> 12.000  Dt  </span></li>
            <li class="item3"><span class="dess">Nutella+fruits sec</span><span class="prix"> 13.500  Dt  </span></li>
            <li class="item3"><span class="dess">Nutella+Banane+fruits sec</span><span class="prix"> 15.000  Dt  </span></li>
            <li class="item3"><span class="dess"> LE Garage </span><span class="prix"> 15.000  Dt  </span></li>
            <li class="item2"> Nutella + Fruits sec + Oreo /Sépeculoos/Sneakers/Ferrero 

             
            </li>
          </ul>
        
       
        <div class="image">
          <!-- <img src="assets/images/LOGOGA.svg" alt="SVG Image" class="cafeephoto" /> -->
        </div>
    </div>

    <h3 class="cafecat"> Les croissants</h3>
    <div class="image">
      <img src="assets/images/Hat.svg"alt="SVG Image" class="hatphoto" />
    </div>


    <div class="container">
     
      
          <ul class="list2">
            <li class="item3"><span class="dess"> Croissant </span><span class="prix"> 2.000  Dt  </span></li>

            <li class="item3"><span class="dess"> Croissant zrir</span><span class="prix"> 4.000  Dt  </span></li>
            <li class="item3"><span class="dess">Croissant nutella</span><span class="prix"> 4.000  Dt  </span></li>
            <li class="item3"><span class="dess">Croissant nutella banane</span><span class="prix"> 5.000  Dt  </span></li>
            <li class="item3"><span class="dess">Croissant nutella fraise</span><span class="prix"> 5.000  Dt  </span></li>
            <li class="item3"><span class="dess">Croissant nutella pistache</span><span class="prix"> 5.000  Dt  </span></li>
            <li class="item3"><span class="dess">Croissant  salé</span><span class="prix"> 6.000  Dt  </span></li>

          </ul>
        
       
        <div class="image">
          <!-- <img src="assets/images/LOGOGA.svg" alt="SVG Image" class="cafeephoto" /> -->
        </div>
    </div>
    

    <h3 class="cafecat"> Les Omelettes</h3>
    <div class="image">
      <img src="assets/images/Hat.svg"alt="SVG Image" class="hatphoto" />
    </div>


    <div class="container">
     
      
          <ul class="list2">
            <li class="item3"><span class="dess"> omelette Thon Fromage   </span><span class="prix">9.000  Dt  </span></li>

            <li class="item3"><span class="dess"> omelette  Ricotta </span><span class="prix"> 7.500  Dt  </span></li>
            <li class="item3"><span class="dess">omelette jambon Fromage  </span><span class="prix"> 8.500  Dt  </span></li>
           
          </ul>
        
       
        <div class="image">
          <!-- <img src="assets/images/LOGOGA.svg" alt="SVG Image" class="cafeephoto" /> -->
        </div>
    </div>


    
    <h3 class="cafecat"> Les Cocktails</h3>
    <div class="image">
      <img src="assets/images/Hat.svg"alt="SVG Image" class="hatphoto" />
    </div>


    <div class="container">
     
      
          <ul class="list2">
            <li class="item3"><span class="dess"> Froid </span><span class="prix">10.000  Dt  </span></li>
              <li class="item2  "> Orange + Fraise + Banane
          
              </li>
            <li class="item3"><span class="dess"> Cocktails fruits </span><span class="prix"> 10.000  Dt  </span></li>
              <li class="item2  "> fruits de la saison
          
              </li>
            <li class="item3"><span class="dess">Oasis </span><span class="prix"> 11.000  Dt  </span></li>
              <li class="item2  "> Kiwi + Banane + Ananas
          
              </li>
            <li class="item3"><span class="dess">Exotique </span><span class="prix"> 11.000  Dt  </span></li>
              <li class="item2  "> Ananas + Mangue + Banane
          
              </li>
            <li class="item3"><span class="dess">Fruits sec </span><span class="prix"> 12.000  Dt  </span></li>
              <li class="item2  "> Banane + Dates + fruits sec + miel
            
              </li>
          </ul>
        
       
        <div class="image">
          <!-- <img src="assets/images/LOGOGA.svg" alt="SVG Image" class="cafeephoto" /> -->
        </div>
    </div>

    
    <h3 class="cafecat"> Les Smoothies</h3>
    <div class="image">
      <img src="assets/images/Hat.svg"alt="SVG Image" class="hatphoto" />
    </div>


    <div class="container">
     
      
      <ul class="list2">
        <li class="item3"><span class="dess"> Pink </span><span class="prix">10.000  Dt  </span></li>
          <li class="item2  ">  Fraise - Banane
      
          </li>
        <li class="item3"><span class="dess"> Peche </span><span class="prix"> 7.500  Dt  </span></li>
          <li class="item2  "> peche - fraise - framboise - pomme
      
          </li>
        <li class="item3"><span class="dess">Pinacolada </span><span class="prix"> 8.500  Dt  </span></li>
          <li class="item2  ">  Ananas - noix de coco
      
          </li>
        <li class="item3"><span class="dess">Yellow </span><span class="prix"> 8.500  Dt  </span></li>
          <li class="item2  "> Ananas - Orange - Banane
      
          </li>
        
      </ul>
        
       
      <div class="image">
        <img src="assets/images/plat.svg" alt="SVG Image" class="platphoto" /> 
       </div>
    </div>

    
    <h3 class="cafecat"> Les Milkshake</h3>
    <div class="image">
      <img src="assets/images/Hat.svg"alt="SVG Image" class="hatphoto" />
    </div>


    <div class="container">
     
      
      <ul class="list2">
        <li class="item3"><span class="dess"> Oreo </span><span class="prix">10.000  Dt  </span></li>
         
        <li class="item3"><span class="dess"> Spéculoos </span><span class="prix"> 7.500  Dt  </span></li>
          
        <li class="item3"><span class="dess">Nutella </span><span class="prix"> 8.500  Dt  </span></li>
          
        <li class="item3"><span class="dess">Snikers / Mars / Ferrero Rocher </span><span class="prix"> 8.500  Dt  </span></li>
        
        
      </ul>
        
       
        <div class="image">
         <img src="assets/images/ramen.svg" alt="SVG Image" class="ramenphoto" /> 
        </div>
    </div>


    <h3 class="cafecat"> Les cafes</h3>
    <div class="image">
      <img src="assets/images/Hat.svg"alt="SVG Image" class="hatphoto" />
    </div>



    
    <div class="container">
     
      
          <ul class="list2">
            <li class="item3"><span class="dess"> Express </span><span class="prix"> 1.800  Dt  </span></li>

            <li class="item3"><span class="dess"> American </span><span class="prix"> 1.800  Dt  </span></li>
            <li class="item3"><span class="dess">Capussin </span><span class="prix"> 8.000  Dt  </span></li>
            <li class="item3"><span class="dess">Cafe creme </span><span class="prix"> 8.000  Dt  </span></li>
            <li class="item3"><span class="dess">Cappuccino </span><span class="prix"> 8.000  Dt  </span></li>

            <li class="item3"><span class="dess"> Cafe glace</span><span class="prix"> 1.800  Dt  </span></li>
            <li class="item3"><span class="dess"> Cafe ligeois </span><span class="prix"> 1.800  Dt  </span></li>

           
          </ul>
        
       
        <div class="image">
          <img src="assets/images/croissants.svg" alt="SVG Image" class="croissantphoto" />
        </div>
    </div>
    
      <h3 class="cafecat"> Nespresso</h3>
      <div class="container">
        
          <ul ul class="list2">
            <li class="item3"><span class="dess"> Express </span><span class="prix"> 1.800  Dt  </span></li>

            <li class="item3"><span class="dess"> American </span><span class="prix"> 1.800  Dt  </span></li>

         
   
            <li class="item3"><span class="dess">Cafe creme </span><span class="prix"> 8.000  Dt  </span></li>
          </ul>
      
        <div class="image">
          <img src="assets/images/cafeeilustratuion2.svg" alt="SVG Image" class="cafeekas" />
        </div>

      </div>
      <h3 class="cafecat"> Chocolat Chaud et glacé</h3>
      <div class="container">
       
          
            <ul class="list2">
              <li class="item3"><span class="dess"> Chocolat Chaud </span><span class="prix"> 1.800  Dt  </span></li>

              <li class="item3"><span class="dess"> Chocolat liegeois</span><span class="prix"> 1.800  Dt  </span></li>

             

              <li class="item3"><span class="dess"> Chocolat Nutella</span><span class="prix"> 1.800  Dt  </span></li>

              <li class="item3"><span class="dess">Cafe creme</span><span class="prix"> 1.800  Dt  </span></li>
              <li class="item3"><span class="dess">Chocolat fruits secs</span><span class="prix"> 1.800  Dt  </span></li>

              <li class="item3"><span class="dess">Chocolat glacé</span><span class="prix"> 1.800  Dt  </span></li>

             
            </ul>
          
         
          <div class="image">
            <!-- <img src="assets/images/LOGOGA.svg" alt="SVG Image" class="cafeephoto" /> -->
          </div>
      </div>
      
     
</body>