<body class="background">

   



  @if (authService.currentUsersig()){
    <div class="buttondexonixon">
    
      <span (click)="logout()" class="glyphicon glyphicon-log-out">Log out</span> 
    </div>
 
  }
    <img src="assets/images/TITLEE2.svg" alt="SVG Image" class="imagef1">
    <img src="assets/images/icons8-facebook.svg" alt="Icon" alt="Clickable Image" (click)="navigateToFacebock()" class="face" width="66px">

    <img src="assets/images/icons8-instagram.svg" alt="Icon" alt="Clickable Image" (click)="navigateToInsta()" class="insta" width="66px">

    
    <div class="image">
      <img src="assets/images/Hat.svg"alt="SVG Image" class="hatphoto" />
    </div>

    <div class="container" *ngFor="let cat of catgeoriges">
      <h3 class="cafecat">{{cat.name}}</h3>
      
      <ul class="list2">
        <!-- Filter products by category name -->
        <div  *ngFor="let prod of getProductsByCategory(cat.name)">
          <li class="item">
            <span class="dess">{{prod.name}}</span>
            <span class="prix">{{prod.prix}}</span>
          </li>
          <li class="item2">{{prod.description}}</li>
        </div>
      </ul>
      
      <div class="image">
        <!-- <img src="assets/images/LOGOGA.svg" alt="SVG Image" class="cafeephoto" /> -->
      </div>
    </div>

        
       

          <!-- <img src="assets/images/LOGOGA.svg" alt="SVG Image" class="cafeephoto" /> -->

  
      <!-- <img src="assets/images/Hat.svg"alt="SVG Image" class="hatphoto" /> -->
  

   
       
        <!-- <div class="image">
          <img src="assets/images/LOGOGA.svg" alt="SVG Image" class="cafeephoto" />
        </div>

    



  
       
        <div class="image">
          <img src="assets/images/LOGOGA.svg" alt="SVG Image" class="cafeephoto" />
        </div>

      
       
        <div class="image">
          <img src="assets/images/LOGOGA.svg" alt="SVG Image" class="cafeephoto" />
        </div>
   

  
    <div class="image">
      <img src="assets/images/Hat.svg"alt="SVG Image" class="hatphoto" />
    </div>



        <div class="image">
          <img src="assets/images/LOGOGA.svg" alt="SVG Image" class="cafeephoto" />
        </div>
 
       
        <div class="image">
          <img src="assets/images/LOGOGA.svg" alt="SVG Image" class="cafeephoto" />
        </div>
 
       
        <div class="image">
          <img src="assets/images/LOGOGA.svg" alt="SVG Image" class="cafeephoto" />
        </div>
    
     
    <div class="image">
      <img src="assets/images/Hat.svg"alt="SVG Image" class="hatphoto" />
    </div>


        <div class="image">
          <img src="assets/images/LOGOGA.svg" alt="SVG Image" class="cafeephoto" />
        </div>



    <div class="image">
      <img src="assets/images/Hat.svg"alt="SVG Image" class="hatphoto" />
    </div>


        
       
        <div class="image">
          <img src="assets/images/LOGOGA.svg" alt="SVG Image" class="cafeephoto" />
        </div>


    <div class="image">
      <img src="assets/images/Hat.svg"alt="SVG Image" class="hatphoto" />
    </div>


   
      
    
        
       
      <div class="image">
        <img src="assets/images/plat.svg" alt="SVG Image" class="platphoto" /> 
       </div>


       
        <div class="image">
         <img src="assets/images/ramen.svg" alt="SVG Image" class="ramenphoto" /> 
        </div>


    <div class="image">
      <img src="assets/images/Hat.svg"alt="SVG Image" class="hatphoto" />
    </div>



    
  
       
        <div class="image">
          <img src="assets/images/croissants.svg" alt="SVG Image" class="croissantphoto" />
        </div>

    

      
        <div class="image">
          <img src="assets/images/cafeeilustratuion2.svg" alt="SVG Image" class="cafeekas" />
        </div>

         
          <div class="image">
            <img src="assets/images/LOGOGA.svg" alt="SVG Image" class="cafeephoto" />
          </div> -->

      
     
</body>