<body class="background">

   



  @if (authService.currentUsersig()){
    <div class="buttondexonixon">
    
      <span (click)="logout()" class="glyphicon glyphicon-log-out">Logout  <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFF"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"/></svg></span> 
    </div>
    <p class="des2" (click)="navigateToDash()" style="cursor: pointer;"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#FFF"><path d="M520-600v-240h320v240H520ZM120-440v-400h320v400H120Zm400 320v-400h320v400H520Zm-400 0v-240h320v240H120Zm80-400h160v-240H200v240Zm400 320h160v-240H600v240Zm0-480h160v-80H600v80ZM200-200h160v-80H200v80Zm160-320Zm240-160Zm0 240ZM360-280Z"/></svg>  Dash </p>

 
  }
    <img src="assets/images/TITLEE2.svg" alt="SVG Image" class="imagef1">
    <img src="assets/images/icons8-facebook.svg" alt="Icon" alt="Clickable Image" (click)="navigateToFacebock()" class="face" width="66px">

    <img src="assets/images/icons8-instagram.svg" alt="Icon" alt="Clickable Image" (click)="navigateToInsta()" class="insta" width="66px">

    
    <div class="image">
      <img src="assets/images/Hat.svg"alt="SVG Image" class="hatphoto" />
    </div>

    <div class="container" *ngFor="let cat of catgeoriges">
      <h3 class="cafecat">{{cat.name}}</h3>
      
      <ul class="list2">
        <!-- Filter products by category name -->
        <div  *ngFor="let prod of getProductsByCategory(cat.name)">
          <li class="item">
            <span class="dess">{{prod.name}}</span>
            <span class="prix">{{prod.prix}} TND</span>
          </li>
          <li class="item2">{{prod.description}}</li>
        </div>
      </ul>
      
      <div class="image">
        <!-- <img src="assets/images/LOGOGA.svg" alt="SVG Image" class="cafeephoto" /> -->
      </div>
    </div>

        
    <!-- <div class="image">
      <img src="assets/images/plat.svg" alt="SVG Image" class="platphoto" /> 
     </div> -->
     <div class="image">
      <img src="assets/images/cafeeilustratuion2.svg" alt="SVG Image" class="cafeekas" />
    </div>
    <div class="image">
      <img src="assets/images/lastforlegarage.svg" alt="SVG Image" class="lastforlegarage" />
    </div>
    <!-- <div class="image">
      <img src="assets/images/cafeeilustratuion2.svg" alt="SVG Image" class="cafeekas" />
    </div> -->

          <!-- <img src="assets/images/LOGOGA.svg" alt="SVG Image" class="cafeephoto" /> -->

  
      <!-- <img src="assets/images/Hat.svg"alt="SVG Image" class="hatphoto" /> -->
  

      <!-- <img src="assets/images/LOGOGA.svg" alt="SVG Image" class="cafeephoto" /> -->
      <!-- <div class="image">
        <img src="assets/images/LOGOGA.svg" alt="SVG Image" class="cafeephoto" />
      </div> -->
       
        <!-- <div class="image">
        </div>

    



  
       
        <div class="image">
          <img src="assets/images/LOGOGA.svg" alt="SVG Image" class="cafeephoto" />
        </div>

      
       
        <div class="image">
          <img src="assets/images/LOGOGA.svg" alt="SVG Image" class="cafeephoto" />
        </div>
   

  
    <div class="image">
      <img src="assets/images/Hat.svg"alt="SVG Image" class="hatphoto" />
    </div>



        <div class="image">
          <img src="assets/images/LOGOGA.svg" alt="SVG Image" class="cafeephoto" />
        </div>
 
       
        <div class="image">
          <img src="assets/images/LOGOGA.svg" alt="SVG Image" class="cafeephoto" />
        </div>
 
       
        <div class="image">
          <img src="assets/images/LOGOGA.svg" alt="SVG Image" class="cafeephoto" />
        </div>
    
     
    <div class="image">
      <img src="assets/images/Hat.svg"alt="SVG Image" class="hatphoto" />
    </div>


        <div class="image">
          <img src="assets/images/LOGOGA.svg" alt="SVG Image" class="cafeephoto" />
        </div>



    <div class="image">
      <img src="assets/images/Hat.svg"alt="SVG Image" class="hatphoto" />
    </div>


        
       
        <div class="image">
          <img src="assets/images/LOGOGA.svg" alt="SVG Image" class="cafeephoto" />
        </div>


    <div class="image">
      <img src="assets/images/Hat.svg"alt="SVG Image" class="hatphoto" />
    </div>


   
      
    
        
       
      <div class="image">
        <img src="assets/images/plat.svg" alt="SVG Image" class="platphoto" /> 
       </div>


       
        <div class="image">
         <img src="assets/images/ramen.svg" alt="SVG Image" class="ramenphoto" /> 
        </div>


    <div class="image">
      <img src="assets/images/Hat.svg"alt="SVG Image" class="hatphoto" />
    </div>



    
  
       
        <div class="image">
          <img src="assets/images/croissants.svg" alt="SVG Image" class="croissantphoto" />
        </div>

    

      
        <div class="image">
          <img src="assets/images/cafeeilustratuion2.svg" alt="SVG Image" class="cafeekas" />
        </div>

         
          <div class="image">
            <img src="assets/images/LOGOGA.svg" alt="SVG Image" class="cafeephoto" />
          </div> -->

      
     
</body>